<!--<p id="notice"><%#= notice %></p>-->

<h2>Chapters</h2>

<section id="chapters">
  <p id="notice"><%= notice %></p>
  <h2>
    <strong>Fanfic:</strong>
    <%#= @fanfic.chapter.fanfic_id %>
  </h2>
  <% @fanfic.chapters.each_with_index do |chapter,index| %>
    <div align="center">
      <h3>Chapter <%= index+1 %></h3>
    </div>
    <p>
      <strong>Title:</strong>
      <%= chapter.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= chapter.body %>
    </p>


          <%= link_to 'Edit', edit_fanfic_chapter_path(@fanfic,chapter), class: 'btn btn-outline-primary btn-sm' %>
          <%= link_to 'Destroy', [chapter.fanfic,chapter], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
  <%end %>
</section>
<br>
<%= link_to 'Edit', edit_fanfic_chapter_path(@fanfic) %> |
<%= link_to 'Back', fanfic_path %>


