<p id="notice"><%= notice %></p>

<h2>
  <strong>Fanfic:</strong>
  <%#= @fanfic.chapter.fanfic_id %>
</h2>

<p>
  <strong>Index:</strong>
  <%= @fanfic.chapter.index %>
</p>

<p>
  <strong>Title:</strong>
  <%= @fanfic.chapter.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @fanfic.chapter.body.html_safe %>
</p>


<%= link_to 'Edit', edit_fanfic_chapter_path(@fanfic.chapter) %> |
<%= link_to 'Back', fanfic_path %>
